html, body {
  height: 100%;
}

.step-one {
  height: 100%;
  background: url(http://apod.nasa.gov/apod/image/1601/aurora_vetter_2000.jpg) no-repeat 50% 50%;
  background-color: #15212A;
  background-size: cover;
}

.step-two {
  height: 100%;
  background: url(http://apod.nasa.gov/apod/image/1509/TexasEclipse_Westlake_2642.jpg) no-repeat 50% 50%;
  background-color: #15212A;
  background-size: cover;
}