
<div class="row">
  <div class="col-sm-offset-0 col-sm-2 col-xs-offset-1">
    <div markdown src="views/partials/outline"></div>
  </div>
  <div class="col-xs-offset-1 col-xs-10  col-sm-offset-1 col-sm-8 notes">
    <div class="page-header">
      <h1>Boostrap</h1>
      <p>
        We are going to choose Bootstrap to help us frame our beginner mindset. Boostrap is a natural choice for this because of it's plug and play jQuery libraries. <i>As beginners we want to be able to use and play with technologies we don't full understand</i>. 
      </p>
    </div>
    <h2>Bootstrap Grid</h2>
    <ul>
      <li ng-repeat="num in [1, 2, 3, 4]">
          <h3><a href="notes/layouts_with_bootstrap/concepts_{{num}}.html">Concept {{num}}</a></h3>
          <pre prism-pre url="getUrl()"></pre>
      </li>
    </li>
  </div>
</div>

<div class="row">
  <div class="col-xs-offset-1 col-xs-10 notes">
    <div markdown src="notes/layouts_with_bootstrap/README"></div>
  </div>
</div>